@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
    --primary-dark: #292929;
    --secondary-dark: #2e2e2e;
    --primary-dark-text: #828282;
    --agent-dark-unfilled: #4b4b4b; /* TODO: update color */
    --secondary-color: #bb86fc;

    /* agent colors */
    --agent-available-color: #008276;
    --agent-busy-color: #d23645;
    --agent-after-color: #ffd73f;
    --agent-loggedout-color: #5e5e5e;
    --agent-preview-color: #1a75c0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--primary-dark);
    min-height: 100vh;
}

/* Navigation Bar */
.navbar {
    background: var(--secondary-dark);
}

.nav-title {
    color: var(--primary-dark-text);
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* sidebar */
.sidebar {
    width: 16rem;
    /* height: 60vh; */
    padding: 4rem 0rem !important;
    position: fixed;
    margin-left: -18.75rem;
    margin-top: 4rem;
    transition: 0.4s;
    background: rgba(57, 57, 57, 0.9);
    border-radius: 0rem 1rem 1rem 0rem;
    z-index: 2;
}
/* END sidebar */

/* items in sidebar */
.state-color {
    padding: 0rem 1.5rem !important;
}
.state-color-dot {
    filter: drop-shadow(0rem 0rem 0.3rem #a3a3a3);
    margin: 1rem 0.25rem !important;
}

.nav-item {
    margin-top: 1rem !important;
}
.nav-link {
    font-size: 1.2rem;
    padding: 0rem 1rem !important;
    background: #b0b0b0;
    border-radius: 0.625rem;
    padding-left: 0;
}
.nav-link.available {
    box-shadow: 0.15rem 0.15rem 0.32rem var(--agent-available-color);
}
.nav-link.busy {
    box-shadow: 0.15rem 0.15rem 0.32rem var(--agent-busy-color);
}
.nav-link.loggedout {
    box-shadow: 0.15rem 0.15rem 0.32rem var(--agent-loggedout-color);
}
.nav-link.after {
    box-shadow: 0.15rem 0.15rem 0.32rem var(--agent-after-color);
}
.nav-link.preview {
    box-shadow: 0.15rem 0.15rem 0.32rem var(--agent-preview-color);
}
#state-color-text {
    color: #ffffff;
    text-shadow: 0rem 0.25rem 0.25rem var(--secondary-color);
}

/* .nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
} */
.my-container {
    transition: 0.4s;
    max-height: 93vh;
    /* overflow: auto; */
}

.container-fluid {
    max-height: 100vh;
}

/* for navbar / sidebar */
.active-nav {
    margin-left: 0;
}
/* for section content */
.active-cont {
    margin-left: 15.625rem;
    transition: 0.4s;
}

/* btn for sidebar */
#menu-btn {
    background-color: inherit;
    color: #7952b3;
    position: fixed;
    margin-top: 15rem;
    padding: 0.2rem 0.5rem;
    z-index: 100;
    transition: 0.4s;
}
#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}

.fa-solid {
    transition: 0.4s;
}
/* Agent Dots Colors  */
.agent-dot {
    /* filter: drop-shadow(0rem 0rem .3rem #A3A3A3); */
    margin: 0rem 0.05rem !important;
    transition: 0.5s;
    font-size: 0.6rem;
    /* border-radius: 50%; */
}
/* TODO: Fix below hover effects */
i .agent-dot:hover {
    background: #fff !important;
    box-shadow: 0 0 0 0.25rem #333, 0 0 0 0.375rem #a3a3a3 !important;
}

i.fa-circle {
    color: var(--secondary-dark);
}
/* .available {
    color: var(--agent-available-color) !important;
}
.busy {
    color: var(--agent-busy-color) !important;
}
.logged-out,
.loggedout {
    color: var(--agent-loggedout-color) !important;
}
.preview {
    color: var(--agent-preview-color) !important;
}
.after,
.after-work {
    color: var(--agent-after-color) !important;
} */

#dots-grid {
    max-height: 100vh;
    /* overflow: hidden; */
    font-size: 0.56rem;
}

/* TOOLTIP */
.tooltipType {
    position: relative;
    display: inline-block;
}

.tooltipType .tooltiptext {
    visibility: hidden;
    background-color: #222222;
    color: var(--secondary-color);
    border-radius: 3px;
    padding: 3px 10px 6px;
    position: absolute;
    top: -2rem;
    right: -2rem;
    min-width: 5rem;
    text-align: center;
}

.tooltipType:hover .tooltiptext {
    visibility: visible;
}

/* ETC */
.neumorphism-badge {
    /* TODO: Remove pixel usage; dont matter much for this class attribute as its not used, so likely will remove */
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
    background-color: transparent;
    color: #31344b;

    font-size: 0.7rem;
    font-weight: 600;
    border: 0.0625rem solid #d1d9e6;
    padding: 0.275rem 0.425rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.55rem;
}

label {
    margin-bottom: 0.5rem;
}