@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
    --primary-dark: #292929;
    --secondary-dark: #2e2e2e;
    --primary-dark-text: #828282;
    --agent-dark-unfilled: #4b4b4b; /* TODO: update color */
    --secondary-color: #bb86fc;
    --agent-dark: #5e5e5e;
    --team-blue-primary: #a3e0ff;

    /* agent colors */
    --agent-available-color: #008276;
    --agent-available-bright-color: #25ada0;
    --agent-busy-color: #d23645;
    --agent-busy-bright-color: #eb4f58;
    --agent-preview-color: #1a75c0;
    --agent-preview-bright-color: #3e89d6;
    --agent-after-color: #ffd73f;
    --agent-loggedout-color: #5e5e5e;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--primary-dark);
    min-height: 100vh;
}

.my-container {
    transition: 0.4s;
    max-height: 90vh;
    min-height: 80vh;
    /* overflow: auto; */
}

.container-fluid {
    max-height: 100%;
}

/* Navigation Bar */
.navbar {
    /* background: var(--secondary-dark); */
}

.nav-title {
    color: var(--primary-dark-text);
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.allEntities {
    color: var(--agent-dark);
}
.available {
    color: var(--agent-available-bright-color);
}
.busy {
    color: var(--agent-busy-bright-color);
}
.logged-out,
.loggedout {
    color: var(--agent-loggedout-color);
}
.preview {
    color: var(--agent-preview-bright-color);
}
.after,
.after-work,
.afterwork {
    color: var(--agent-after-color);
}
.agent-dot {
    font-size: 0.6rem;
}

.entityInfo-item {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 200;
}
.entityInfo-item p b {
    font-weight: 700;
}

a {
    text-decoration: none;
    /* color: var(--secondary-color); */
    color: rgb(163, 224, 255);
}
a:hover {
    color: rgba(163, 224, 255, 0.8);
}

/* TOOLTIP */
.tooltipType {
    position: relative;
    display: inline-block;
}

.tooltipType .tooltiptext {
    visibility: hidden;
    background-color: #222222;
    color: var(--secondary-color);
    border-radius: 3px;
    padding: 3px 10px 6px;
    position: absolute;
    top: -2rem;
    right: -2rem;
    min-width: 5rem;
    text-align: center;
}

.agent-filter-dot {
    background-color: var(--primary-dark);
    border: none;
    font-size:0.8rem;
}

.agent-dot {
    /* filter: drop-shadow(0rem 0rem .3rem #A3A3A3); */
    margin: 0rem 0.05rem !important;
    transition: 0.5s;
    font-size: 0.5rem;
    /* border-radius: 50%; */
}
/* TODO: Fix below hover effects */
i .agent-dot:hover {
    background: #fff !important;
    box-shadow: 0 0 0 0.25rem #333, 0 0 0 0.375rem #a3a3a3 !important;
}
.tooltipType:hover .tooltiptext {
    visibility: visible;
}

.entityInfo-item p {
    border-radius: 36px;
    background: #292929;
    padding: 5px 10px;
    box-shadow: 25px 25px 50px #101010, -25px -25px 50px #424242;
}

.agent-information {
    border-radius: 36px;
    background: #292929;
    padding: 5px 10px;
    box-shadow: 25px 25px 50px #101010, -25px -25px 50px #424242;
}

.agent-info-div {
    visibility: hidden;
    text-align:center;
    color:white;
    margin-bottom: 10px;
}